<div class="row" >
    <div *ngFor="let car of cars" class="card" style="width: 20rem;">
      <img src="https://localhost:44305/uploads/{{car.imagePath}}" class="card-img-top" alt="...">
      <div  class="card-body">
        <h5 class="card-title">{{car.description}}</h5>
      </div >
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Brand: {{car.brandName}}</li>
        <li class="list-group-item">Color: {{car.colorName}}</li>
        <li class="list-group-item">Price: {{car.dailyPrice}} TL</li>
      </ul>
      <div class="card-body">
        <button routerLink="/cars/car-detail/{{car.carId}}" type="button" class="btn btn-light">Details</button>
        <!-- <button type="button" class="btn btn-light">Kirala</button> -->
      </div>
    </div>
  </div>