<div class="row">
  <div *ngFor="let car of cars" class="car" style="width: 20rem">
   
    <div class="card-body">
      <h5 class="card-title">{{ car.carName }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Id: {{ car.carId }}</li>
      <li class="list-group-item">Marka: {{ car.brandName }}</li>
      <li class="list-group-item">Renk: {{car.colorName }}</li>
      <li class="list-group-item">Fiyat: {{ car.dailyPrice }} TL</li>
    </ul>
  </div>
</div>
